*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    background: linear-gradient(120deg, #0b1350, #041554);
}
.container{
    height: 30vh;
    width: 30vw;
    background-color: rgb(196, 177, 177);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    

}

span {
    font-size: xx-large  ;
}
